* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

html {
  font-size: 14px;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: calc(100dvh - 61px);
}

.custom-container {
    width: 90%;
    margin-inline: auto;
}

table {
    font-size: 14px;
}

table td:has(.row .col table) {
    padding: unset;
}

table table th {
    font-size: 14px;
    line-height: 1em;
}

table table tbody {
    font-size: 13px;
    line-height: 1em;
}

table table tbody th{
    font-weight: normal;
}

span[data-valmsg-for] {
    position: relative;
    top: 5px;
    width: 100%;
    padding-left: 7px;
    font-size: 13px;
    text-align: start;
}